*{
    box-sizing: border-box;
    /* overflow: scroll; */
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    
}

/* .svgContainer{
    width:100%;
    height: 50%;
}
form{
    background-color: aquamarine;
    width: 25%;
    margin: auto;
} */
.bodyBGnormal{
    display: none;
}
/*  */
form {
    /* overflow: scroll; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    max-width: 400px;
    background-color: #FFF;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    margin: 0;
    padding: 2.25em;
    box-sizing: border-box;
    border: solid 1px #DDD;
    border-radius: 0.5em;
    font-family: "Source Sans Pro", sans-serif;
}

.txt_login{
    margin-top: 15px;
}
/*  */

form .svgContainer {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 1em;
    border-radius: 50%;
    pointer-events: none;
}
form .svgContainer:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border: solid 2.5px #217093;
    border-radius: 50%;
}
form .svgContainer div {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    border-radius: 50%;
    padding-bottom: 100%;
}
form .svgContainer .mySVG {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
/* div2 */
form .inputGroup {
    margin: 0 0 1em;
    padding: 0;
    position: relative;
}
form label {
    margin: 0 0 12px;
    display: block;
    font-size: 1.25em;
    color: #217093;
    font-weight: 700;
    font-family: inherit;
}

form input[type=email], form input[type=text], form input[type=number], form input[type=url], form input[type=search], form input[type=password] {
    display: block;
    margin: 0;
    padding: 0 1em 0;
    padding: 0.875em 1em 0;
    background-color: #f3fafd;
    border: solid 2px #217093;
    border-radius: 4px;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    font-size: 1.55em;
    color: #353538;
    font-weight: 600;
    font-family: inherit;
    /* transition: box-shadow 0.2s linear, border-color 0.25sease-out; */
}
/* 118 */
form input[type=email], form input[type=text], form input[type=number], form input[type=url], form input[type=search], form input[type=password] {
    display: block;
    margin: 0;
    /* padding: 0 1em 0;
    padding: 0.875em 1em 0; */
    padding: 1em;
    background-color: #f3fafd;
    border: solid 2px #217093;
    border-radius: 4px;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    font-size: 1.55em;
    color: #353538;
    font-weight: 600;
    font-family: inherit;
    /* transition: box-shadow 0.2s linear, border-color 0.25sease-out; */
}
form .inputGroup2 input,
form .inputGroup1 input{
    position: relative;
}
/* css pp */
form .inputGroup2 .helper,
form .inputGroup1 .helper {
    position: absolute;
    z-index: 1;
    font-family: inherit;
}

form .inputGroup2 .helper2,
form .inputGroup1 .helper1 {
    top: -20%;
    /* top: 50%;  */
    /* transform: translateY(-50%); */
    left: 0;
    transform: translate(1em, 2.2em) scale(1);
    transform-origin: 0 0;
    color: #217093;
    font-size: 1.55em;
    font-weight: 400;
    opacity: 0.65;
    pointer-events: none;
    transition:  0.2 ease-out  0.2s linear;
}
.focusWithText>
#fonsize{
    font-size: 1em;
    top: -12%;

}
form .inputGroup2 input[type=password] {
    /* padding: 0.875em 1em 0; */
}
/* 188 */
form .inputGroup2 #showPasswordToggle {
    display: block;
    padding: 0 0 0 1.45em;
    position: absolute;
    top: 0.25em;
    right: 0;
    font-size: 1em;
}


form .inputGroup3{
    margin-bottom: 10px;
}
/* 141 */
form button {
    display: block;
    margin: 0;
    padding: 0.65em 1em 1em;
    background-color: #4eb8dd;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    height: 65px;
    font-size: 1.55em;
    color: #FFF;
    font-weight: 600;
    font-family: inherit;
    transition:  0.2 ease-out;
}
form button:hover{
    opacity: 0.8;
}
form button:active{
    background-color: #03b2f1;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: #4eb8dd;
}
/* forget */
/* form .inputGroup4{
    display: flex;
    justify-content: space-between;
} */
.inputGroup4 .container_gg{

}
form .inputGroup4 a{
    text-decoration: none;
    margin-top: 10px;
    display: block;
}
.inputGroup4 .container_gg:hover{
    opacity: 0.6;
}
form .inputGroup4 .text_forget:hover{
    opacity: 0.6;
    border: 1px solid rgb(115, 164, 201);
}
form .inputGroup4 a:active{
    /* color: #217093; */

}
.text_forget,
#container{
    font-size: 15px;
    z-index: 1;
    font-weight: 400;
}
a .text_forget{
    display: block;
    align-content: center;
    border: 1px solid rgb(66, 65, 65);
    padding: 5px;
    color: black;
    height: 37px;
    text-align: center;
    border-radius: 3px;
    font-style: normal;
}