RewriteEngine On
RewriteBase /project-clone-web-buy-acc/src/public/

# Nếu file/directory không tồn tại, chuyển hướng đến index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L] 